[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:rachel5004/rachel5004.github.io.git
	branch = main
